<div id="post_show_content" class="skinny_wrapper wrapper_padding">
  <header>
    <p class="date"><%= @post.created_at.strftime('%A, %B %d') %></p>
    <h1><%= @post.title %></h1>
    <hr>
  </header>

  <div id="content">
    <%= markdown @post.content %>
  </div>

<div class="homepage_content">
      <h2><%= link_to "Edit", edit_post_path(@post) %> - <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Bu postu sileceğine emin misin ?"} %></h2>
    </div>


</div>

<br>
<br>
